@use "tailwindcss";
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply m-0 p-0 antialiased overflow-x-hidden;
}

:root {
  --background: #09090b; /* zinc-950 */
  --foreground: #fafafa; /* zinc-50 */
}

.light {
  --background: #ffffff;
  --foreground: #09090b;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.5s ease;
}

/* Oculta o cursor padrão apenas em telas de computador (onde o hover existe) */
@media (min-width: 768px) {
  *, *::before, *::after {
    cursor: none !important;
  }
}